.spinner {
  display: flex;
  width: min-content;
  margin: auto;
  color: var(--secondary-color-light);
  height: min-content;
  animation: spinner 1s linear infinite;
}

.dark .spinner {
  color: var(--secondary-color-dark);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
