.favorite-button {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  background: transparent;
  color: currentColor;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
  padding: 6px 10px;
  font-size: 0.9rem;
}

.favorite-button:hover {
  background: #f5f5f5;

  color: var(--secondary-color-light);
  border-color: var(--secondary-color-light);
}

.dark .favorite-button:hover {
  background: #3030303f;

  color: var(--secondary-color-dark);
  border-color: var(--secondary-color-dark);
}

.remove:hover {
  color: #ff1212;
  border-color: #ff1212;
}
