.favorite-sections {
  margin-bottom: 20px;
}

.button-section {
  font-size: 0.9rem;
  padding: 8px;
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  background: none;
  border: none;
}

.button-section:hover {
  color: var(--secondary-color-light);
  background: none;
}

.dark .button-section:hover {
  color: var(--secondary-color-dark);
  background: none;
}

.favorite-active {
  color: var(--secondary-color-light);
}

.dark .favorite-active {
  color: var(--secondary-color-dark);
}
