.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
  padding: 0;
  list-style: none;
}

.character-item {
  text-align: start;
}

.character-item img {
  width: 100%;
  object-fit: contain;
}

.character-item h3 {
  line-height: 1.3;
  margin: 0;
  margin-bottom: 10px;
}

.character-item p {
  margin: 0;
}
