#root {
  max-width: 1580px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

main {
  flex: 1;
  padding-top: 4rem;
}

button,
input {
  line-height: 1.25;
}

.infinite-scroll {
  overflow: initial !important;
  margin-bottom: 20px;
}
