* {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:root {
  font-family: 'Onest Variable', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-light);
  background-color: var(--background-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-dark: #171717;
  --background90-dark: #171717e6;
  --background-light: #ffffff;
  --background90-light: #ffffffe6;
  --color-dark: #ffffff;
  --color-light: #000000de;
  --secondary-color-light: #261574;
  --secondary60-color-light: #1d0f5d99;
  --secondary-color-dark: #facc15;
  --secondary60-color-dark: #ffe88e80;
}

.dark {
  color: var(--color-dark);
  background: var(--background-dark);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary60-color-light);
}

.dark body::-webkit-scrollbar-thumb {
  background-color: var(--secondary60-color-dark);
}

button {
  font-family: 'Onest Variable', sans-serif;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
}
